
:root {
    --main-blue: #100f19;
    --main-light: white;
    --Nour-primary: #198754; /*green*/
    --Nour-secondary: #3077B1;
    --catDark-bg: #494343;
}


html {
    font-size: 14px;
}
    
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {

    font-family: 'Readex Pro', sans-serif;
   /* background-color:var(--main-blue);
    color:var(--main-light);*/
   background-color:var(--main-light);
   color:var(--main-blue);
}
    body.dark {
        background-color: var(--main-blue);
        color: var(--main-light);
    }

a {
    text-decoration: none;
    color: var(--main-light) !important;
    letter-spacing: 1px;
    font-weight: 700;
}
ul{
    list-style:none;
    
}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/*........................................................home page ....................*/

.allCategories ul li{
   
    padding:.3rem .5rem;
    border-radius:.3em;
    background:#ccc;
   

}
    .allCategories ul li a {
        color: var(--main-blue) !important;
    }
    
    body.dark .allCategories ul li a {
    color:var(--main-light) !important;
    }

body.dark .allCategories ul li {
    background: var(--catDark-bg);
}
.toggle input {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px red solid;
}
.toggle label {
    background-color: #2f3640;
    width: 60px;
    height: 30px;
    border-radius: 2em;
    overflow: hidden;
    transition: transform 0.6s cubic-bezier(0.7, 0, 0.7,1);
    position: relative;
}
    .toggle label::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 30px;
        background-color: #100F19;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
        border: 1px solid #ccc;
        transform: translateX(0);
        cursor: pointer;
        transition: transform 0.4s cubic-bezier(0.7, 0, 0.7, 1);
    }

.leftToggle input[type="checkbox"]:checked ~ label::after

{
    transform: translateX(100%);

}
.rightToggle input[type="checkbox"]:checked ~ label::after{

    transform: translateX(-100%);
}

.toggle input[type="checkbox"]:checked ~ label:before {
    transform: translateX(0);
}


.toggle input[type="checkbox"]:checked ~ label {
    background: white;
}

/*.toggle input[type="checkbox"]:checked ~ label,
.toggle input[type="checkbox"]:focus ~ label {
    outline: solid 1px lightgreen;
}*/

    /*navbar*/
    .HomeNav {
    padding: 1.2rem 2rem;
    padding-bottom: 8px;
    box-shadow: 0px 0px 9px -1px #202024;
    position: relative;
    background-color:#ccc;
}
body.dark .HomeNav {
    background: #0f0e17;
}

    .HomeNav .brand, .brand , .AdminBrand {
        width: 80px;
    }
        .HomeNav .brand img, .brand img, .AdminBrand  img{
            width: 100%;
            border-radius: 10px 21px;
        }

.HomeNav form{
    width:72%;
    position:relative;

}

    .HomeNav form input {
        color: var(--main-light);
        width: 80%;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        outline: none;
        border: none;
        background: no-repeat;
        box-shadow: 0px 0px 8px -4px #0c0808;
    }
   body.dark .HomeNav form input {
        box-shadow: 0px 0px 8px -4px #ccc;

   }
.HomeNav form button {
    position: absolute;
    height: 100%;
    outline: none;
    border: none;
    background: no-repeat;
    padding: 0 2rem;
   
    color: black;
    background-color: #7e7e7e;
}
body.dark .HomeNav form button {
    color: #ccc;
    background-color:var(--main-blue);
}


.userOptions {
    border-radius: 50% 50%;
    width: 3rem;    
    display: flex;
    background: white;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
   user-select:none;
    font-size: .9em;
  

}
body.dark .userOptions{
background:black;
}

.optionMenu {
    position: absolute;
    width: 300px;
    border-radius: 20px;
    height: 80vh;
    /*padding: 1rem 0;*/
    background: #5b5555;
    z-index: 99;
    display: none;
    opacity: 0;
    transition: .3s all ease-in-out;
}

body.dark .optionMenu{

    background: #201c1c;
}

.optionMenu a{
    color:var(--main-blue) !important;
}
body.dark .optionMenu a{

    color: var(--main-light) !important;
}

    .optionMenu ul {
        /*display: flex;*/
        width: 100%;
        height:100%;
       
        padding:1.5rem 0;


       /* flex-direction: column;
        align-items: flex-start;*/
       
    }

    .optionMenu ul li{
        padding:.3rem;
        cursor:pointer;
       
        transition:.2s all ease-in-out;
    }
        .optionMenu ul li:hover {
            background: #433d3d;
        } 
        body.dark .optionMenu ul li:hover {
            background: #161313;
        }
.logoutItem {
    height: 3em !important;
    cursor: pointer;
}
.userInfoSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 1rem;
}
.culturOption .culturOption li .culturOption select, .culture {
    width: 100%;
   background:none;
    color: white;
}



.culturOption select.culture option , select.culture option {
    color: black !important;
}
   
.LogInOption button {
    color: red !important;
}









/*
    video card style
*/




.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    box-shadow: 0px 0px 3px 2px #a39f9f;
    margin:auto;
    color: var(--main-blue);
}

  body.dark .card{
      color:var(--main-light);
    background: var(--main-blue);
    box-shadow: 0px 0px 3px 2px #100f19;
  }


.card__body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: #d7d7d7;
    padding: 1rem .5rem;
}
body.dark .card__body, body.dark .card__footer {
    background: #181725;
}


.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

    .tag + .tag {
        margin-left: .5em;
    }

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

.tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

.tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    margin-top: auto;
    background: #d7d7d7;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50% 50%;
}

.user img{
    width:46px;
   height:46px;
}
.user__info > small {
    color: #666;
}


/*
    end video card style 
*/



/*.................................................. Admin page ........................*/

/*
    admin sidebar
*/
.AdminNavSm{
    background-color:#ccc;
    color:var(--main-blue);
}

.AdminNavSm a{
    color:var(--main-blue) !important;
}
body.dark .AdminNavSm a{
    color:var(--main-light) !important;
}
body.dark .AdminNavSm{
    background:var(--main-blue);
    color:var(--main-light);
}
.AdminNavBar {
    background-color: #ccc;
}
body.dark .AdminNavBar {
    background-color: #12111A;
}
.AdminNavBar a{
    color:var(--main-blue) !important;


}
body.dark .AdminNavBar a{
    color:var(--main-light) !important;
} 


.AdminSideBar {
    min-height: 100%;
    padding: 1.5rem .7rem;
    background:#ccc;
}
body.dark .AdminSideBar{
    background:var(--main-blue);
}

   
    .AdminSideBar .AdminBrand {
        width: 120px;
    }

.AdminBrand img{
    width:100%;
    object-fit:cover;
}

.navList ul{
    padding:0;
    font-size:14px;
    display:flex;
    flex-direction:column;

}

.navList ul li{
    padding: 1rem 0;
        cursor:pointer;
        position:relative;
}

.navList ul li.active{
    background:#666;
    border-top-right-radius:14px;
    border-bottom-right-radius:14px;
}

    .navList ul li a {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 15px;
        color:var(--main-blue) !important;
      
    }
body.dark .navList ul li a{
    color:var(--main-light) !important;
}
.add_new_post {
    padding: 2rem .8rem;
    text-align: end;
}

    .add_new_post a {
        background-color: var(--main-red);
        color: var(--main-light);
        padding: .5rem 1.5rem;
        border-radius: 10px;
    }

.PostImageAdmin {
    width: 40px;
}

    .PostImageAdmin img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }


.postDesAdmin, .Tbletitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5rem;
}

    /*
        vidoe page
    */

    .video{
     height:100vh;
    }
   .video iframe{
        width:100%;   
        height:100%;
      

   }



.video iframe body.vp-center {
    border:2px red solid;
    align-items: flex-start !important;
}

.videoInfo .like{
    width:6%;
float:right;
}

.videoDes {
    max-width: 100%;
    color: var(--main-light);
    border-radius: 10px;
    background: #5b5a5a;
    padding: 1rem 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5rem;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

body.dark .videoDes {
    background-color: #393232;
}
    .videoDes:hover {
        background: #4e4343;
    }
    .videoDes p {
        white-space: nowrap;
      overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;
        cursor: pointer;
      
       transition: .3s all ease-in-out;
       word-wrap:break-word;
    }


.Comments button {
    display: block;
    width: 17%;
    border: none;
    color: white;
    background: #c0392b;
    letter-spacing: 2px;
    padding: 0.5rem 0;
    border-radius: 16px;
}

.displayComments li {

    background: #1e1d24;
    border-radius: 20px;
  
}
.displayComments p{
    width: 90%;
    padding: 1rem 3rem;
    word-wrap:break-word;
}
    







/*
   forms 
*/
.settingsData {
    width: 75%;
    padding: 1.2rem 1rem;
    border-radius: 25px;
    background: #0a0d16;
    box-shadow: 0px 0px 13px 3px #030408;
    margin: auto;
    color: var(--main-light);
}

    .settingsData input, .settingsData label {
        width: 80%;
        margin: auto;
    }

    .settingsData input {
        color: var(--main-light);
        background: none;
        box-shadow: 0px 0px 5px 1px #ccc;
        border-radius: 15px;
        padding: .4rem 1rem;
    }


    .settingsData .row > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .settingsData textarea ,.Comments textarea {
        background: none;
        color: var(--main-light);
        border-radius: 20px;
        padding: 1rem 0.4rem;
        border: none;
        height: 100px;
        outline: none;
        box-shadow: 0px 0px 5px 1px #ccc;
        width: 80%;
        margin: auto;
    }

    .settingsData img {
        width: 34%;
        margin: auto;
        border-radius: 11px;
    }

.controllers .back, .controllers .edit {
    padding: .8rem 3rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--main-light);
    border: none;
    outline: none;
}

.back {
    background: var(--main-blue);
}

.edit {
    background: #27ae60;
}
.lableStyle{
    position:relative;
}

form input[type = "checkbox"] {
    position: absolute;
    left: 28px;
    top: 40%;
    box-shadow: none;
}
form select{
    background:none ;
    width:50%;
    margin:auto;
    color:var(--main-light);
}

form select option{
    background:#ccc;
    color:var(--main-blue);

}
