@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

@if (SignInManager.IsSignedIn(User))
{
    @if(culture == "en")
    {
        
    <li class="logoutItem">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link ">LougOut</button>
        </form>
        </li>
    }
    else
    {
        <li class="logoutItem">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link ">تسجيل خروج</button>
            </form>
        </li>
    }
}
else
{
    @if(culture == "en")
    {
        <li>
            <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li>
            <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">LongIn</a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">تسجيل</a>
        </li>
        <li>
            <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">تسجيل دخول</a>
        </li>
        
    }

}

