@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    string culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

@if (SignInManager.IsSignedIn(User))
{
    @if (culture == "en")
    {
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" >LougOut</button>
            </form>
        </li>
    } else{
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit">تسجيل خروج</button>
            </form>
        </li>

    }

}
else
{
    @if(culture == "en")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">LongIn</a>
        </li>
    }
    else
    {
        <li class="nav-item">
              <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">تسجيل</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">تسجيل دخول</a>
        </li>
    }

}

