
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "About";
}
@*<h1>@localizer["about"]</h1>*@



<div class="container mt-5">
<partial name="_Culture"/>

<h1>@localizer["about"]</h1>
</div>